[submodule "EMODnet-Biology-Benthic-Habitats-Occurrences-Traits"]
	path = EMODnet-Biology-Benthic-Habitats-Occurrences-Traits
	url = https://github.com/EMODnet/EMODnet-Biology-Benthic-Habitats-Occurrences-Traits.git
